<!-- views/index.ejs -->
<%- include('partials/header') %>
<section class="fancy-section">
    <div class="container">
        <h1><span class="status-ok"></span> Server is running</h1>
        <p>This file rendered from <code>index.ejs</code></p>
    </div>
</section>
<%- include('partials/footer') %>
